<form [formGroup]="form" (ngSubmit)="save()">
    <label>Nombre</label>
    <input type="text" placeholder="Nombre" formControlName="name">

    <label>Descripcion</label>
    <input type="text" placeholder="Descripcion" formControlName="description">

    <label>Direccion</label>
    <input type="text" placeholder="Direccion" formControlName="address">


    <label>Price</label>
    <input type="number" placeholder="Direccion" formControlName="price">

    <label>Dueño</label>
    <input type="number" placeholder="numero" formControlName="ownerId">


    <label>Servicios</label>
    <div>
        @if(isLoading()){
        <div class="loader">Cargando servicios</div>
        }@else if (errorMessage()) {
        <div class="error-banner">{{ errorMessage() }}</div>
        } @else{
        @for (servicio of servicios(); track servicio.id) {
        <button type="button" (click)="toggleSeleccion(servicio.id)"
            class="flex items-center gap-2 p-3 border-2 rounded-xl transition-all duration-200" [class]="selected().has(servicio.id)
        ? 'border-blue-600 bg-blue-50 text-blue-900 font-medium'
        : 'border-gray-200 bg-white text-gray-700 hover:border-gray-300'">
            <span>{{ servicio.name }}</span>
        </button>
        }@empty {
        <p class="empty-state">No hay balnearios registrados </p>
        }
        }

        <p class="mt-4 text-sm text-gray-600">
            Servicios selecionados
            @for (item of selected(); track selected) {
        <p>{{item}}</p>
        }
        </p>

    


    </div>




    <button type="submit" [disabled]="form.invalid">Crear</button>

</form>